﻿{% extends "base.html" %}

{% block page_content %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='display.js') }}"></script>
<!--<p>Here's supposed to retrieve password and decrypt it</p>-->
    {% if current_user.storage %}
<form class="form-signin" role="form">
    <label for="encryptPassword">Encryption Key:</label>
    <input type="password" id="encryptPassword" name="encryptPassword" class="form-control" placeholder="Encrypt Password" required>
    <p></p>
    <button class="btn btn-lg btn-primary btn-block" id="decBtn" type="button">Decrypt...</button>
</form>
<br />
<table id="table" class="table-condensed" align="center" width="300px"></table>
<br />
<a href="{{ url_for('store') }}"><button class="btn btn-lg btn-primary btn-block" id="insBtn" type="button">Insert New One</button></a></p>
<form class="form-signin" role="form">
    <input type="text" id="inputServiceName" name="serviceName" class="form-control" placeholder="Input ServiceName You Want to Delete" required autofocus>
    <p></p>
    <button class="btn btn-lg btn-primary btn-block" id="delBtn" type="button">Remove an Account</button>
</form>
<br />
<form class="form-signin" role="form">
    <input type="password" id="newEncryptPassword" name="newEncryptPassword" class="form-control" placeholder="New Encrypt Password" required>
    <p></p>
    <button class="btn btn-lg btn-primary btn-block" id="chgBtn" type="button">Change Password</button>
</form>


    {% else %}
<p>You don't seem to have any password. Click <a href="{{ url_for('store') }}">here</a> to store a new one.</p>
    {% endif %}

{% endblock %}


{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='jquery.serializejson.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
{% endblock %}