{% extends "base.html" %}

{% block page_content %}
    {% if current_user.is_authenticated %}
    <h1>Welcome, {{ current_user.username }}!</h1>
    {% if current_user.storage %}
    <p>Click <a href="{{ url_for('show') }}">here</a> to retreive your stored password or click <a href="{{ url_for('store') }}">here</a> to add a new one. </p>
    {% else %}
    <p>You don't seem to have any password. Click <a href="{{ url_for('store') }}">here</a> to store a new one.</p>
    {% endif %}
    {% else %}
    <h1>Welcome, Stranger!</h1>
    <p>Please <a href="{{ url_for('register') }}">Register</a> or <a href="{{ url_for('login') }}">Login</a>.</p>
    {% endif %}
{% endblock %}
