﻿{% extends "base.html" %}

{% block page_content %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='store.js') }}"></script>
   
    <form class="form-signin" role="form">
        <h2 class="form-signin-heading">New Data Entry</h2>
        <label for="inputServiceName">Service/App/Website:</label>
        <input type="text" id="inputServiceName" name="servicename" class="form-control" placeholder="www.google.com" required autofocus>
        <label for="inputUsername">Email/Username:</label>
        <input type="text" id="inputUsername" name="username" class="form-control" placeholder="john@doe.com" required>
        <label for="inputPassword">Password:</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <label for="validatePassword">Type the Password Again:</label>
        <input type="password" id="validatePassword" name="validatePassword" class="form-control" placeholder="Validate Password" required>
        <h2 class="form-signin-heading2">Validate Encryption Key</h2>
        <label for="encryptPassword">Encryption Key:</label>
        <input type="password" id="encryptPassword" name="encryptPassword" class="form-control" placeholder="Encrypt Password" required>
        <p></p>
        <button class="btn btn-lg btn-primary btn-block" id="addBtn" type="button">Add...</button>
    </form>
    
    
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='jquery.serializejson.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
{% endblock %}